/* fonts from google fonts api */
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
/* background image from 
https://www.wallpaperflare.com/silver-revolver-on-wooden-table-gun-bullet-pistol-shoot-weapon-wallpaper-zegzu/download/3024x1964 */
html {
    background: url("revolver.jpeg") no-repeat center fixed;
    background-size: cover;
  }

/* no scrolling */
html, body {
    overflow: hidden;
  }

/* button placement */

#text{
    font-family: 'Lavishly Yours', cursive;
    font-size:69px;
    text-shadow: 2px 2px 2px darkgrey;
    transform: rotate(2deg);
}
.bottom{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 150px;
}

.middle{
  display: flex;
  min-height: 314px;
  justify-content: center;
  text-align: center;
  margin: 30px 20px 0;
}

.top{
  display: flex;
  justify-content: space-around;
}

/* button design from CSS Scan */
.button {
  background: #e62143;
  border-radius: 11px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Mija,-apple-system,BlinkMacSystemFont,Roboto,"Roboto Slab","Droid Serif","Segoe UI",system-ui,Arial,sans-serif;
  font-size: 40%;
  font-weight: 700;
  justify-content: center;
  line-height: 33.4929px;
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  text-shadow: rgba(0, 0, 0, .3) 1px 1px 1px;
  text-underline-offset: 1px;
  transition: all .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 15%;
  word-break: break-word;
  border: 0;
}

.button:active,
.button:focus {
  border-bottom-style: none;
  border-color: #dadada;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 3px inset;
  outline: 0;
}

.button:active{
  transform: translateY(4px);
}

.button:hover {
  border-bottom-style: none;
  border-color: #dadada;
}

/*Blood from https://codepen.io/jvastos/pen/bGrvgbq*/
.blood-svg{
  width: 40vmax;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}

.blood-svg {
  opacity: 0;
}

.blood-splash-2 {
  width: 70vmax;
}

.blood-splash-3 {
  width: 60vmax;
}